@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.cdnfonts.com/css/digital-numbers");

html,
body {
  height: 100%;
  margin: 0;
  overflow-y: auto;
}

p,
button,
input {
  font-family: "Electrolize";
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-page-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  background-image: url("/img/backgrounds/HomePageBg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  min-height: 100vh;
  width: 99vw;
}

.top-slogan {
  margin-top: 40px;
  margin-bottom: 30px;

  color: white;
  font-size: 35px;
  font-family: "Audiowide";
}

.header,
.bottom-area {
  height: 170px;
  background-color: rgba(0, 0, 0, 0.76);

  width: 70%;
  min-width: 900px;
  display: flex;
  flex-direction: column;
}

.header-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 30px;
  padding-right: 10px;
  margin-bottom: -10px;
  height: 120px;
}

.logo {
  color: white;
  font-size: 35px;
  font-family: "Audiowide";

  padding-right: 30px;
}

.header-search-bar {
  display: flex;
  flex-grow: 2;
  flex-direction: row;
  align-items: center;

  padding: 1px;
}

input {
  flex-grow: 2;
  border: none;
  font-size: 22px;
  padding-left: 20px;
  border-radius: 8px;

  margin-right: 10px;

  height: 48px;
}

input:focus {
  outline: none;
}

button {
  background: white;
  border: none;
  color: black;
  font-size: 20px;
  cursor: pointer;

  margin-right: 20px;

  padding-left: 10px;
  padding-right: 10px;

  border-radius: 8px;
  height: 50px;
}

button:hover {
  background: rgb(19, 19, 19);
  color: white;
}

.icon {
  width: 30px;
  height: 30px;
}

.header-bottom {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header-button {
  background-color: transparent;
  color: white;
  font-family: "Digital Numbers";
  font-size: 13px;
}

.header-button:hover {
  background-color: white;
  color: black;
}

.search-button:hover img {
  content: url("/img/icons/search-white.png");
}

.shopping-cart-button:hover img {
  content: url("/img/icons/shopping-cart-white.png");
}

.profile-button:hover img {
  content: url("/img/icons/profile-white.png");
}

.home-page-main-area-top {
  margin-bottom: 25px;
  background-color: white;

  width: 70%;
  min-width: 900px;

  height: auto;
  min-height: 400px;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-title {
  font-family: "Audiowide";
  font-size: 22px;
}

.ads-container {
  display: flex;
  justify-content: space-evenly;

  gap: 40px;
  padding-left: 30px;
  padding-right: 30px;

  flex-wrap: wrap;

  margin-bottom: 20px;
}

.ad {
  width: 100%;
  max-width: 210px;
  min-width: 100px;
  height: auto;
  flex: 1 1 200px;
}

.home-page-main-area-bottom {
  background-color: white;

  width: 70%;
  min-width: 900px;

  height: auto;
  min-height: 800px;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.categories-container {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.category-icon {
  width: 100%;
  max-width: 80px;
  height: auto;
  margin-bottom: 5px;
  transition: all 0.1s ease;
}

.category-button {
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 130px;
  width: 150px;

  justify-items: center;
  justify-content: space-around;

  flex: 0 0 180px;
  max-width: 280px;
  min-width: 160px;

  margin-right: 0px;

  transition: all 0.1s ease;

  font-size: 15px;
}

.category-button:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  font-size: 22px;
}

.category-button:hover .category-icon {
  transform: scale(0.85);
}

.extra-description {
  font-family: "Digital Numbers";
  font-size: 10px;
  padding: 10px 10px 30px 30px;
}

.products-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.sort-search-bar {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 1px;
  width: 400px;
}

.filler {
  width: 400px;
}

.sort-button,
.sort-input {
  border: solid;
  border-color: black;
  border-radius: 6px;
  border-width: 2px;
}

.sort-input {
  height: 44px;
}

.sort-button {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sort-button:hover img {
  content: url("/img/icons/filter-white.png");
}

.bottom-area {
  margin-bottom: 120px;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 330px;
  height: 280px;
  padding-top: 30px;
}

.bottom-area-text {
  color: white;
  cursor: pointer;
}

.bottom-area-text-top {
  font-size: 25px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 20px 0;
  width: 85%;
  gap: 30px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 100%;

  min-width: 0;
}

.product-picture {
  width: 90%;
  height: 170px;
  object-fit: contain;
}

.product-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  margin: 0px;
}

.product-category {
  margin-top: 5px;
}

.product-info {
  display: flex;
  justify-content: space-between;
  margin: 0px;
}

.product-info p {
  margin: 0px;
}

.product-buying-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-buying-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.add-to-basket-button {
  margin: 0px;
  width: 60px;
  height: 40px;
}

.product-ad img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product-ad {
  background-color: black;
}
