@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.cdnfonts.com/css/digital-numbers");

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  font-family: "Electrolize";
}

p,
button,
input {
  font-family: "Electrolize";
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-family: "Electrolize";
}

button:hover {
  background: rgb(19, 19, 19);
  color: white;
}

.home-page-bg,
.product-details-page-bg,
.product-page-bg,
.order-history-page-bg,
.shopping-cart-page-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  min-height: 100vh;
  width: 99vw;
}

.home-page-bg,
.product-page-bg {
  background-image: url("/img/backgrounds/HomePageBg.jpg");
}

.top-slogan {
  margin-top: 40px;
  margin-bottom: 30px;

  color: white;
  font-size: 35px;
  font-family: "Audiowide";
}

.header {
  height: 170px;
  background-color: rgba(0, 0, 0, 0.76);
  width: 70%;
  min-width: 900px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.bottom-area {
  background-color: rgba(0, 0, 0, 0.76);

  width: 70%;
  min-width: 900px;
  display: flex;
  flex-direction: column;

  margin-bottom: 80px;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 330px;
  height: 230px;
  padding-top: 30px;
  margin-top: 30px;
}

.bottom-area-text {
  color: white;
  cursor: pointer;
  font-size: 10px;
}

.bottom-area-text-top {
  font-size: 16px;
}

.header-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 30px;
  height: 120px;
  margin-bottom: -10px;
}

.logo {
  color: white;
  font-size: 35px;
  font-family: "Audiowide";
  padding-right: 30px;
}

.header-search-bar {
  display: flex;
  flex-grow: 2;
  align-items: center;
  padding: 1px;
  margin: 0 10px;
}

.header-search-bar input {
  flex-grow: 2;
  border: none;
  font-size: 22px;
  padding: 0 20px;
  border-radius: 8px;
  height: 48px;
  margin-right: 10px;
}

.header-search-bar input:focus {
  outline: none;
}

.icon {
  width: 30px;
  height: 30px;
}

.header-bottom {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 50px;
  padding: 0 20px;
}

.header-bottom .header-button {
  background-color: transparent;
  color: white;
  font-family: "Digital Numbers";
  font-size: 13px;
  height: 40px;
  padding: 0 20px;
}

.header-button:hover {
  background-color: white;
  color: black;
}

.search-button:hover img {
  content: url("/img/icons/search-white.png");
}

.shopping-cart-button:hover img {
  content: url("/img/icons/shopping-cart-white.png");
}

.profile-button:hover img {
  content: url("/img/icons/profile-white.png");
}

.search-button,
.shopping-cart-button,
.profile-button {
  background: white;
  color: black;
  font-size: 20px;
  margin-right: 20px;
  padding: 0 10px;
  height: 50px;
}

.home-page-main-area-top {
  background-color: white;

  width: 70%;
  min-width: 900px;

  height: auto;
  min-height: 400px;

  display: flex;
  align-items: center;
  flex-direction: column;

  margin-bottom: 25px;
}

.section-title {
  font-family: "Audiowide";
  margin-top: 20px;
  font-size: 24px;
}

.ads-container {
  display: flex;
  justify-content: space-evenly;

  gap: 40px;
  padding-left: 30px;
  padding-right: 30px;

  flex-wrap: wrap;

  margin-bottom: 20px;
}

.ad {
  width: 100%;
  max-width: 210px;
  min-width: 100px;
  height: auto;
  flex: 1 1 200px;
}

.home-page-main-area-bottom {
  background-color: white;

  width: 70%;
  min-width: 900px;

  height: auto;
  min-height: 800px;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.categories-container {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.category-icon {
  width: 100%;
  max-width: 80px;
  height: auto;
  margin-bottom: 5px;
  transition: all 0.1s ease;
}

.category-button {
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 130px;
  width: 150px;

  justify-items: center;
  justify-content: space-around;

  flex: 0 0 180px;
  max-width: 280px;
  min-width: 160px;

  margin-right: 0px;

  transition: all 0.1s ease;

  font-size: 15px;
}

.category-button:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  font-size: 22px;
}

.category-button:hover .category-icon {
  transform: scale(0.85);
}

.extra-description {
  font-family: "Digital Numbers";
  font-size: 10px;
  padding: 10px 0px 30px 30px;
  margin-bottom: 0px;
}

.products-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.filler {
  width: 170px;
}

.see-more-button {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  width: 130px;
  margin-right: 40px;
}

.see-more-button img {
  width: 15px;
  height: auto;
}

.see-more-button:hover img {
  content: url("/img/icons/search-white.png");
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 20px 0;
  width: 85%;
  gap: 32px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 300px;

  min-width: 0;
  padding: 8px;
  cursor: pointer;

  transition: box-shadow 0.3s ease;
}

.product:hover {
  box-shadow:
    0 0 20px rgba(0, 18, 46, 0.4),
    inset 0 0 10px rgba(255, 255, 255, 0.05);
}

.product-picture {
  display: flex;
  height: 140px;
  align-items: center;
  justify-content: center;
}

.product-picture img {
  width: 100%;
  height: auto;
  max-height: 140px;
  object-fit: contain;
}

.product-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 0px;
  height: 160px;
}

.product-category {
  margin-top: 5px;
  margin-bottom: 2px;
  color: rgb(95, 95, 95);
  font-size: 12px;
}

.product-info {
  display: flex;
  justify-content: space-between;
  margin: 0px;
}

.product-info p {
  margin: 0px;
}

.product-rating {
  color: rgb(95, 95, 95);
  font-size: 12px;
}

.product-buying-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-buying-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.product-details-link {
  margin-bottom: 6px;
  color: rgb(61, 61, 61);
  font-size: 16px;
}

.add-to-basket-button {
  margin: 0px;
  width: 45px;
  height: 35px;
  background-color: black;
}

.add-to-basket-button img {
  height: 20px;
  width: 20px;
}

.add-to-basket-button:hover {
  background-color: white;
  border: solid black 2px;
}

.add-to-basket-button:hover img {
  content: url("/img/icons/shopping-basket.png");
}

.product-ad img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*  PRODUCT DETAILS!!!!!!!!! */

.product-details-page-bg,
.order-history-page-bg,
.shopping-cart-page-bg {
  background-image: url("/img/backgrounds/product-details-bg.jpg");
}
.main-area {
  margin-bottom: 25px;
  background-color: white;

  width: 70%;
  min-width: 900px;

  height: auto;
  min-height: 650px;

  display: flex;
  margin-bottom: 0px;
  flex-direction: column;
}

.product-details-header {
  margin: 20px 0px 0px 50px;
  display: flex;
  align-items: center;
  gap: 60px;
}

.pdp-product-details {
  display: flex;
}

.back-button {
  width: 100px;
  height: 30px;
  font-size: 18px;
}

.product-variants {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 70px;
  width: 400px;
  gap: 30px;
}

.product-image {
  width: 400px;
  height: 400px;
  object-fit: contain;
}

.variants-images {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.variant-button {
  height: 40px;
  width: 40px;
  border: solid black 1px;
  background-color: white;
  padding: 0px;
  overflow: hidden;
}

.variant-button:hover {
  background-color: white;
  border: 2px solid black;
}

.variant-button.selected {
  border: 3px solid black;
}

.variant-picture {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.pdp-product-specs {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
}

.pdp-product-category {
  color: rgb(61, 61, 61);
  font-size: 16px;
  margin: 0px;
}

.pdp-product-rating {
  font-size: 16px;
  margin: 0px;
}

.pdp-product-name {
  font-family: "Audiowide";
  font-size: 22px;
  margin: 0px 0px 20px 0px;
}

.pdp-product-description {
  margin: 0px;
}

.pdp-product-price {
  font-size: 22px;
  margin: 0px;
  font-weight: 700;
}

.bottom-buttons {
  display: flex;
  justify-content: space-between;

  margin-left: 20px;
}

.product-colors-button {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.color-button {
  display: flex;
  align-items: center;
  cursor: pointer;

  padding: 8px 16px;
  border: 1px solid black;
  border-radius: 8px;

  transition: all 0.1s ease;
}

.color-button input {
  display: none;
}

.color-button:hover {
  background: black;
  color: white;
}

.color-button:has(input:checked) {
  background: black;
  color: white;
  font-weight: bold;
}

.quantity-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.edit-quantity {
  height: 30px;
  width: 30px;
  border-radius: 2px;
  border: solid, black, 1px;
  margin: 0px;
  padding: 0px;
  background-color: white;
}

.add-to-cart-button {
  background-color: black;
  color: white;
  width: 200px;
  font-size: 20px;
  margin-right: 50px;
}

.payment-icon {
  width: 40px;
}

/*  SHOPPING CART!!!!!!!!! */

.basket-header {
  display: flex;
  align-items: center;
}

.p1 {
  margin: 40px 0px 20px 300px;
  font-size: 24px;
  font-family: "Audiowide";
}

.p2 {
  margin: 40px 0px 20px 10px;
  color: rgb(101, 124, 129);
  font-size: 13px;
  font-family: "Audiowide";
}

.sc-elements {
  display: flex;
  width: 100%;
}

.left-container {
  display: flex;
  flex: 0 0 200px;
  justify-content: center;
  height: 300px;
  padding: 0px 20px;
}

.left-container img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  margin-left: 30px;
}

.basket {
  min-width: 300px;
  flex: 2;
  background: #f4f4f4;
  border-radius: 12px;
  margin-bottom: 40px;
  margin-left: 20px;
}

.basket-item {
  background-color: white;

  border-radius: 6px;
  margin: 20px 30px 10px 30px;

  display: flex;
  align-items: center;
  min-width: 390px;
  max-width: 100%;
  min-height: 120px;
}

.basket-item img {
  width: 70px;
  height: auto;
  margin: 0px 20px 0px 20px;
}

.sc-product-name {
  font-size: 18px;
  margin: 20px 0px 0px 0px;
  font-family: "Audiowide";
}

.sc-product-price {
  font-size: 15px;
  margin: 0px 0px 20px 0px;
}

.item-layout {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.sc-bottom-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.sc-separator {
  flex: 2;
}

.sc-edit-quantity {
  background-color: white;
  padding: 0px;
  height: 20px;
  width: 20px;
  border-radius: 2px;
  border: solid, black, 1px;
  margin: 0px;
}

.delete-button {
  margin: 0px;
  width: 45px;
  height: 35px;
  margin-right: 40px;
}

.delete-button:hover img {
  content: url("/img/icons/delete-white.png");
  width: 25px;
  height: 25px;
}

.delete-button img {
  width: 25px;
  height: 25px;
}

.right-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px 20px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.order-summary {
  background-color: rgb(12, 12, 12);
  color: white;
  padding: 15px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
}

.order-summary-label {
  font-size: 18px;
  margin-bottom: 25px;
}

.order-summary-separator {
  margin: 0px;
}

.order-price-container {
  display: flex;
  gap: 90px;
}

.checkout-button {
  margin-right: 0px;
  background-color: rgb(12, 12, 12);
  color: white;
  height: 50px;
  font-size: 16px;
  padding: 0px 10px;
}

.sc-right-ad {
  display: flex;
  flex: 0 0 200px;
  justify-content: center;
  height: 400px;
  padding: 20px 20px;
}

.sc-right-ad img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

/*  ORDER HISTORY!!!!!!!!! */

.order-history-header {
  font-family: "Audiowide";
  font-size: 24px;
  margin: 30px 0px 0px 50px;
}

.export-button-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}

.export-button {
  background-color: black;
  color: white;
  width: 90px;
  height: 40px;
  font-size: 14px;
  margin-bottom: 10px;
}
.export-button img {
  width: 18px;
  margin-right: 5px;
  height: auto;
}

.export-button:hover {
  background-color: white;
  border: solid black 1px;
  color: black;
}

.export-button:hover img {
  content: url("/img/icons/export.png");
}

.oh-navigation-bar {
  display: flex;
  margin: 10px 50px;
}

.oh-navigation-bar-separator {
  flex: 2;
}

.oh-filter-button {
  font-size: 14px;
  height: 35px;
  margin-right: 15px;
  background-color: white;
}

.oh-sort-search-bar {
  display: flex;
  width: 230px;
}

.oh-sort-search-bar input {
  height: 30px;
  width: 180px;
  font-size: 15px;
  flex: 0;
  margin-right: 5px;
  border: solid black 1px;
  border-radius: 3px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.oh-sort-search-bar button {
  height: 30px;
  width: 33px;
  font-size: 15px;
  margin-right: 0px;
}

.oh-sort-search-bar button img {
  width: 20px;
  height: auto;
}

.oh-sort-search-bar button:hover img {
  content: url("/img/icons/filter-white.png");
}

.orders-header {
  display: flex;
  font-size: 18px;
  margin: 0px 50px 0px 70px;
  gap: 30px;
}

.f1 {
  width: 250px;
}
.f2 {
  width: 130px;
}
.f3 {
  width: 120px;
}
.f4 {
  width: 220px;
}
.f5 {
  width: 150px;
}
.f6 {
  width: 190px;
}

.orders-list {
  padding: 30px;
  display: flex;
  flex-direction: column;
  margin: 0px 50px 70px 50px;
  gap: 20px;
  background: #f4f4f4;
  border-radius: 12px;
}

.order {
  display: flex;
  gap: 30px;
  border: solid #aaa 1px;
  border-radius: 6px;
  align-items: center;
  padding-left: 20px;
  background-color: white;
}

.if1 {
  display: flex;
  width: 260px;
  align-items: center;
  gap: 10px;
}
.if1 img {
  width: 45px;
  height: auto;
}
.if2 {
  display: flex;
  width: 120px;
  align-items: center;
  gap: 10px;
}
.if2 img {
  width: 40px;
  height: auto;
}
.if3 {
  width: 120px;
}
.if4 {
  width: 220px;
}

.if5 {
  width: 150px;
  display: flex;
}
.pending,
.delivered,
.processing,
.of-delivery,
.canceled {
  color: white;
  padding: 5px 10px;
}
.pending {
  background-color: #94a2bf;
}
.delivered {
  background-color: #01162b;
}
.processing {
  background-color: #004874;
}
.of-delivery {
  background-color: #6a90b4;
}
.canceled {
  background-color: #b46a6a;
}

.if6 {
  width: 190px;
}

.order {
  display: flex;
}

/*  PRODUCTS!!!!!!!!! */

.products-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-products-header {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px 0px 0px;
}

.p-filler {
  width: 230px;
}

.product-link {
  text-decoration: none;
  color: inherit;
  display: block;
}
